name: py for openai
on: push

jobs:
  native:
    runs-on: ubuntu-latest
    environment: openai
    env:
      API_KEY: ${{secrets.API_KEY}}
    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          working-directory: py
          test-entry-point: pytest openai/openai_test.py
          tests: py/tests
          extras: openai
  databricks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          working-directory: py
          test-entry-point: pytest openai/databricks_test.py
          tests: py/tests
          extras: openai
  azure:
    runs-on: ubuntu-latest
    environment: azure
    strategy:
      matrix:
        version: [ 3.12, latest ]
    env:
      PROJECT: ${{vars.PROJECT}}
      API_KEY: ${{secrets.API_KEY}}
      DEPLOYMENT: ${{vars.DEPLOYMENT}}
      DEPLOYMENT_KEY: ${{secrets.DEPLOYMENT_KEY}}
    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          working-directory: py
          test-entry-point: pytest openai/azure_test.py
          tests: py/tests
          extras: azure
          version: ${{matrix.version}}