on: push

jobs:
  api:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [3.12, latest]
        provider: [openrouter, siliconflow]
    environment: ${{matrix.provider}}
    env:
      API_KEY: ${{secrets.API_KEY}}

    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          working-directory: py
          test-entry-point: pytest ${{matrix.provider}}_test.py
          tests: py/tests/api
          extras: api
          version: ${{matrix.version}}

  openrouter:
    runs-on: ubuntu-latest
    environment: openrouter
    strategy:
      matrix:
        version: [ 3.12, latest ]
    env:
      API_KEY: ${{secrets.API_KEY}}
      PROVISIONING_API_KEY: ${{secrets.PROVISIONING_API_KEY}}
    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          working-directory: py
          test-entry-point: pytest openrouter_test.py
          tests: py/tests
          extras: openrouter
          version: ${{matrix.version}}